<template>
<div>
    <slot v-if="loggedin">

    </slot>
</div>
</template>

<script>
import getCookie from '../assets/getCookie';

export default {
    data:function(){
        return {
            loggedin: false
        }
    },
    mounted: async function(context){
        let cookie = getCookie("session_id");
        console.log(cookie);
        console.log(document.cookie);
        
        console.log(context);
        if (cookie === null || cookie.length <= 0 ) {
            console.log('Going to Login');
            this.$router.push({path: '/login'});
            return;
        }
        let res = await fetch(`http://localhost:5000/authed/${cookie}`);
        let text = await res.json();
        console.log(text);
        if (text.session_id === cookie) {
            this.loggedin = true;
        }
        return;
    }
}
</script>